$font-stack: 0.75em "Roboto", sans-serif;
$primary-color: #333;
$background-color: #fff;
$header-active-color: Red;
$error-color: Red;
$loader-color: Black;
$width: 1000px;
$random_color: #ffcc00;
$count_color: #007aff;
